// Custom link colors
$link-color: #6D6A3C;          // The standard link color
$link-color-visited: #bf7a30;  // After the link has been clicked
$link-color-hover: #5a3e2e;    // When hovering over the link

// If you want to change the sidebar link colors specifically:
$nav-child-link-color: #6D6A3C;

// To change the background colours:
$body-background-color: #ede7dd; // Light grey background for the body
$sidebar-color: #d9c7a2;        // Dark background for the sidebar
$sidebar-color-mobile: #d9c7a2;  // Dark background for the sidebar on mobile
$search-background-color: #d9c7a2; // Dark background for the search box

// To change text colors:
$body-text-color: #5a3e2e;        // Dark grey text for better readability         // White text for sidebar links